/* --- Style Reset --- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/* Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.15;
  -webkit-font-smoothing: antialiased;
  display: block;
}

/* Media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: fit-content;
}

/* Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

/* --- Global Styles --- */

html {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "GRAD" 0;

  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fefefe;

  .no-scroll & {
    overflow: hidden;
    height: 100vh;
  }
}

::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

::selection,
input::selection {
  background-color: #222;
  color: #fff;
}

:focus:not(:focus-visible) {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  main {
    position: relative;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}
