---
import Icon from '@/components/Icon.svelte';
import { SocialLinks } from '@/utils/Constants.astro';

const filteredLinks = Object.entries(SocialLinks).filter(([key]) =>
  ['linkedin', 'behance', 'dribbble'].includes(key),
);
---

<nav class="social-links flex-layout gap">
  {
    filteredLinks.map(([_, link]) => (
      <a
        class="social-link"
        href={link.url}
        target="_blank"
        rel="noopener noreferrer"
        aria-label={link.label}
      >
        {<link.icon />}
      </a>
    ))
  }
  <a class="social-link" href="/contact" aria-label="More Links">
    <Icon icon="more_horiz" className="icon" />
  </a>
</nav>

<style>
  .social-links {
    width: fit-content;
  }

  .social-link {
    padding: var(--space-xs);
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 1lh;
      height: 1lh;
      object-fit: contain;
      margin: 0;
      fill: currentColor;
    }
  }
</style>
