---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Ahmed Alshair - Product Designer & Frontend Developer</title>

	</head>
	<body>
		<h1>Ahmed Alshair</h1>
		<p>Product Designer & Frontend Developer</p>
	</body>
</html>
