---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Ahmed Alshair - Product Designer & Frontend Developer</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body>
    <main>
      <h1>Ahmed Alshair</h1>
      <p>Product Designer & Frontend Developer</p>

      <a href="https://www.linkedin.com/in/ahmedalshair">LinkedIn</a>
      <a href="https://www.behance.net/AhmedAlshair">Behance</a>
      <a href="https://dribbble.com/AhmedAlshair">Dribbble</a>
    </main>
  </body>
</html>
