---
import MainLayout from '@layouts/MainLayout.astro';
---

<style>
  main {
    text-align: center;
    position: relative;
    margin: 0 auto;
    padding: var(--space-md);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 40%;
    align-items: center;
    justify-content: center;
    gap: var(--space-md);
    background-color: var(--surface-0);
  }
</style>

<MainLayout
  title="Ahmed Alshair - Product Designer & Frontend Developer"
  description="I'm not just a product strategist, I'm a hands-on builder. With 10+ years combining UX leadership with technical execution, I drive products from concept to code."
>
  <main>
    <h1>Ahmed Alshair</h1>
    <p class="subtitle">Product Designer & Frontend Developer</p>
    <nav class="wrapper-flex gap">
      <a href="https://www.linkedin.com/in/ahmedalshair" target="_blank"
        >LinkedIn</a
      >
      <a href="https://www.behance.net/AhmedAlshair" target="_blank">Behance</a>
      <a href="https://dribbble.com/AhmedAlshair" target="_blank">Dribbble</a>
    </nav>
  </main>
</MainLayout>
